.container {
  display: grid; 
  grid-template-columns: 1fr 3fr 1fr;
  background-color: rgb(106, 110, 114);
  padding: 5px;
  gap: 5px;  
}
.container div {
  background-color: #08a9f3;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}