.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(205, 79, 221);
}
 
.container div {
  background-color: #20011c;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}